version: '3.9'

services:
  keycloak-db:
    image: postgres:16
    container_name: keycloak-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: admin
    volumes:
      - keycloak-db-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    restart: unless-stopped
    command: ["start-dev"]
    environment:
      # Admin user to log into Keycloak console
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      # Database config
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: admin

      # HTTP settings
      KC_HTTP_PORT: 8080
      # In dev we usually run without HTTPS; handled by reverse proxy in prod
    ports:
      - '8080:8080'
    depends_on:
      - keycloak-db

volumes:
  keycloak-db-data:
